@import "./var";
// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a,
input,
button {
  font-family: "Montserrat", sans-serif;
}

input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #202027;
}

main {
  background-color: $mainColor;
}

// Общие
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
}
// ===================================================================================================================
// ==================================================== hw-8 =============================================================
#app {
  padding-bottom: 35px;
  background-color: #e1ff8f;
}
.hw-8 {
  padding: 0 25px 0 25px;;
}
.hw-8__buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.hw-8__button {
  margin: 25px;
}
.hw-8__button:not(:last-child) {
  margin: 0;
  margin-bottom: 15px;
}
.hw-8__button-color {
  margin-bottom: 25px;
}
.hw-8__block {
  position: absolute;
  top: 35%;
  left: 25%;
  display: none;
  max-width: 700px;
  background-color: #e7f3c6;
  padding: 35px;
  border-radius: 10px;
}
.hw-8__block h2 {
  text-align: center;
  margin-bottom: 15px;
}
.hw-8__text-two {
  padding: 25px 0 25px 0;
}
.active {
  color: rgb(80, 2, 247);
}
.new-title {
  font-size: 24px;
}
.new-text {
  font-size: 18px;
}
.hw-8__titleBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}
.hw-8__descriptions {
  text-align: center;
  margin-bottom: 15px;
}
.hw-8__description:not(:last-child) {
  margin-bottom: 9px;
}
.hw-8__descrs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-bottom: 15px;
}
.hw-8__descr-empty {
  color: #2a2a80;
}
.hw-8__new-ell {
  text-align: center;
  margin-bottom: 15px;
}

// ======================================================================================================================
// Header
.star {
  &__right-up {
    position: absolute;
    background-image: url("../images/right-up_el.png");
    background-repeat: no-repeat;
    right: 0px;
    width: 588px;
    height: 712px;
  }
  &__big {
    position: absolute;
    background-image: url("../images/star-big.png");
    background-repeat: no-repeat;
    width: 83px;
    height: 83px;
    top: 568px;
    right: 344px;
  }
  &__midlle-green {
    position: absolute;
    background-image: url("../images/star-middle-green.png");
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
    left: 63px;
    top: 94px;
  }
  &__small-green {
    position: absolute;
    background-image: url("../images/Star-small-green.png");
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
    top: 538px;
    right: 455px;
  }
  &__small-transparent {
    position: absolute;
    background-image: url("../images/Star-small-transparent.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    top: 69px;
    left: 156px;
  }
}

.header {
  margin: 0 auto;
  position: relative;
  background-color: #e1ff8f;
  &__content {
    padding-top: 196px;
    padding-bottom: 173px;
  }
  &__title {
    margin-bottom: 24px;
    max-width: 775px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    letter-spacing: 0px;
  }
  &__text {
    margin-bottom: 62px;
    max-width: 720px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
  }
  &__button {
    border: none;
    background-color: $buttonBackgound;
    color: $textButton;
    padding: 16px 65px;
    border-radius: 65px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    transition: all .3s;
  }
}
.header__button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #8C8C8C;
}

.line {
  overflow: hidden;            
  width: 100vw;
  &__track {
    display: flex;
    width: max-content;
    animation-play-state: paused; // — по умолчанию стоит
    animation: line-scroll 30s linear infinite;
    animation-play-state: paused;
  }
// При наведении на секцию — запускаем прокрутку
  &:hover &__track {
    animation-play-state: running;
  }
 &__content {
    padding-left: 20px;
    width: max-content;         
    height: 90px;
    overflow: hidden;            
    background-color: #bcec30;
    display: flex;
    align-items: center;
    gap: 51px;
    flex-shrink: 0;              
    padding-right: 51px;        
  }
  &__text {
    white-space: nowrap;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 4%;
    color: #000;
    text-decoration: none;
  }
  &__star {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }
}
// =============== Изменение цвета
.fon-body {
  background-color: #e1ff8f;
}

.buttons {
  padding-bottom: 15px;
}

.colorStartBtn {
  margin-bottom: 15px;
}
/* Кнопка стоп изначально скрыта */
.button__stopRandomColor {
  background-color: #f44336;
  color: white;
  display: none;
}

// ===========================================================
@keyframes line-scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
// Если пользователь отключил анимации — не крутим
//  Если в настройках их операционной системы отключены или ограничены анимации, движение строки полностью останавливается.
@media (prefers-reduced-motion: reduce) {
  .line__track {
    animation: none;
  }
}
// Main
@import "./about";
@import "./mini-games";
// Footer
@import "./footer";
@import "./mobile";
