@import "./var";
// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a,
input,
button {
  font-family: "Montserrat", sans-serif;
}

input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #202027;
}

main {
  background-color: $mainColor;
}

// Общие
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
}
// Header
.star {
  &__right-up {
    position: absolute;
    background-image: url("../images/right-up_el.png");
    background-repeat: no-repeat;
    right: 0px;
    width: 588px;
    height: 712px;
  }
  &__big {
    position: absolute;
    background-image: url("../images/star-big.png");
    background-repeat: no-repeat;
    width: 83px;
    height: 83px;
    top: 568px;
    right: 344px;
  }
  &__midlle-green {
    position: absolute;
    background-image: url("../images/star-middle-green.png");
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
    left: 63px;
    top: 94px;
  }
  &__small-green {
    position: absolute;
    background-image: url("../images/Star-small-green.png");
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
    top: 538px;
    right: 455px;
  }
  &__small-transparent {
    position: absolute;
    background-image: url("../images/Star-small-transparent.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    top: 69px;
    left: 156px;
  }
}

.header {
  margin: 0 auto;
  position: relative;
  background-color: #e1ff8f;
  &__content {
    padding-top: 196px;
    padding-bottom: 173px;
  }
  &__title {
    margin-bottom: 24px;
    max-width: 775px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    letter-spacing: 0px;
  }
  &__text {
    margin-bottom: 62px;
    max-width: 720px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
  }
  &__button {
    border: none;
    background-color: $buttonBackgound;
    color: $textButton;
    padding: 16px 65px;
    border-radius: 65px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    transition: all .3s;
  }
}
.header__button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #8C8C8C;
}

.line {
  &__content {
    padding-left: 20px;
    width: 100vw;
    height: 90px;
    overflow: auto; //  при создании JS скрипта прокрутки, изменить на hidden
    background-color: #bcec30;
    display: flex;
    align-items: center;
    gap: 51px;
  }
  &__text {
    white-space: nowrap;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 4%;
  }
  &__star {
    width: 35px;
    height: 35px;
  }
}
// Main
@import "./about";
@import "./mini-games";
// Footer
@import "./footer";
@import "./mobile";
